/* RESET */

* {
    margin: 0 4px;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    height: 6rem;
    background-size: 24rem;
    background-image: url(../img/pattern.png);
    background-color: rgb(29, 140, 231);
    line-height: 10rem;
}

.header-logo {
    width: 10rem;
}

/* COMMON */

.margin {
    margin-top: 10px;
}

/* MAIN */

.main-title-container {
    width: 70%;
}

.main-title {
    font-size: 3rem;
}

.bottom-title {
    color: rgb(168, 143, 143);
}

.blue-highlights {
    color: rgb(21, 169, 255);
}

.date {
    font-size: 1rem;
}

.title-img {
    max-width: 100%
}

.yellow-highlights {
    background-color: yellow;
}

.main-section {
    font-weight: bold;
}

ul {
    padding-left: 15px;
}

table {
    width: 100%;
    text-align: left;
}

.table-label {
    width: 25%;
}

.table-description {
    width: 50%;
}